<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.labor.dao.ZjDwzpdjbMapper">
  <resultMap id="BaseResultMap" type="com.oracle.labor.po.ZjDwzpdjb">
    <id column="ZPBH" jdbcType="VARCHAR" property="zpbh" />
    <result column="DWBH" jdbcType="VARCHAR" property="dwbh" />
    <result column="DWLXR" jdbcType="VARCHAR" property="dwlxr" />
    <result column="LXRSFZHM" jdbcType="VARCHAR" property="lxrsfzhm" />
    <result column="LXRSJ" jdbcType="VARCHAR" property="lxrsj" />
    <result column="SFDJ" jdbcType="VARCHAR" property="sfdj" />
    <result column="DJYXQ" jdbcType="INTEGER" property="djyxq" />
    <result column="DJSJ" jdbcType="VARCHAR" property="djsj" />
    <result column="GDSJ" jdbcType="VARCHAR" property="gdsj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ZPBH, DWBH, DWLXR, LXRSFZHM, LXRSJ, SFDJ, DJYXQ, DJSJ, GDSJ
  </sql>
  <select id="selectByExample" parameterType="com.oracle.labor.po.ZjDwzpdjbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zj_dwzpdjb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zj_dwzpdjb
    where ZPBH = #{zpbh,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据单位法人码和单位名称查找匹配单位 -->
  <select id="getDw" resultType="map" parameterType="String">
      SELECT bio_id bioId,bio_name bioName,bio_bua_address bioAddress,LXRSJ tel,DJSJ date FROM bio LEFT JOIN zj_dwzpdjb
ON bio_id=DWBH WHERE IF(#{bioNo}='',bio_name LIKE '%${bioName}%',bio.bio_no=#{bioNo})

<!-- bio.bio_no=#{bioNo}  OR bio_name LIKE '%${bioName}%' -->
  </select>
  
  <!-- 根据单位编号查找单位招聘工种 -->
  <select id="getZpgz" resultType="map" parameterType="String">
     SELECT specialty.cd_id gzbh,specialty.cd_name zpgz FROM zj_dwzpdjb dwzpdjb
LEFT JOIN zj_dwzpgzb dwzpgzb ON dwzpdjb.ZPBH=dwzpgzb.ZPBH
LEFT JOIN cdl_specialty specialty ON dwzpgzb.ZPGZ=specialty.cd_id
WHERE dwzpdjb.DWBH=#{bioId}
  </select>
  
  <!-- 根据单位编号、工种和求职者编号查询出求职工种编号和招聘工种编号 -->
  <select id="getBB" resultType="map" parameterType="String">
       SELECT gzb.ZPGZBH zpgzbh,grgzb.QZGZBH qzgzbh FROM zj_dwzpdjb djb 
LEFT JOIN zj_dwzpgzb gzb ON djb.ZPBH=gzb.ZPBH
LEFT JOIN zj_grqzgzb grgzb ON grgzb.GZ=gzb.ZPGZ
LEFT JOIN zj_grqzdjb grdjb ON grdjb.bip_id=bip_id
WHERE djb.DWBH=#{bioId} AND grdjb.bip_id=#{bipId} AND grgzb.GZ=#{gzbh}
  </select>
  
  <!-- 推荐查询 多表联查 -->
  <select id="getSearch" resultType="map" parameterType="String">
  SELECT bip.bip_id bipId,bio.bio_id bioId,bip.bip_citizenid bipSfz,bip.bip_name bipName,bip.bip_sex bipSex,bip.bip_age bipAge,cdg_educationallevel.cd_name xueLi,cdl_specialty.cd_name zygw, 
bio.bio_name bioName,bio.bio_no bioNo,(dwgzb.ZRS-dwgzb.CGRSN-dwgzb.CGRSNV) wcgrs,tjxxb.TJSJ tjsj,cdl_specialty.cd_name tjzy,
(CASE tjxxb.TJXLX 
when "d" THEN "单位推荐"
when "g" THEN "个人推荐"
END) AS tjxlb,
bio.bio_bua_address bioAddress,
dwdjb.LXRSJ bioTel

FROM bip 
LEFT JOIN zj_grqzdjb djb ON djb.bip_id=bip.bip_id
LEFT JOIN zj_grqzgzb gzb ON djb.qzbh=gzb.QZBH
LEFT JOIN zj_tjxxhzb hzb ON hzb.QZGZBH=gzb.QZGZBH
LEFT JOIN zj_dwzpgzb dwgzb ON dwgzb.ZPGZBH=hzb.ZPGZBH
LEFT JOIN zj_d_gwlb gwlb ON GWLB.dmid=dwgzb.GWLB
LEFT JOIN cdg_educationallevel ON cdg_educationallevel.cd_id=bip.bip_whcd
LEFT JOIN cdl_specialty ON cdl_specialty.cd_id=gzb.GZ
LEFT JOIN zj_tjxxb tjxxb ON tjxxb.QZGZBH=gzb.QZGZBH
LEFT JOIN zj_dwzpdjb dwzpb ON dwzpb.ZPBH=dwgzb.ZPBH
LEFT JOIN zj_dwzpdjb dwdjb ON dwdjb.ZPBH=dwgzb.ZPBH
LEFT JOIN bio ON bio.bio_id=dwdjb.DWBH

WHERE bip.bip_sex=#{bipSex} 
AND bip.bip_hjxz=#{hjxz} 
AND bip_age>#{minAge} AND  #{maxAge}>=bip_age 
AND bip.bip_rylb=#{rylb} 
AND gzb.GZ=#{gz}
AND bip_whcd >=#{whcd2} AND  "90">=#{whcd1} 
AND bio.bio_orgtype=#{orgtype} 
AND dwgzb.GWLB=#{gwlb}
AND STR_TO_DATE(djb.DJSJ,"%Y-%m-%d")>=STR_TO_DATE(#{djsj1},"%Y-%m-%d") AND STR_TO_DATE(#{djsj2},"%Y-%m-%d")>=STR_TO_DATE(djb.DJSJ,"%Y-%m-%d")
AND STR_TO_DATE(hzb.TJSJ,"%Y-%m-%d")>=STR_TO_DATE(#{tjsj1},"%Y-%m-%d") AND STR_TO_DATE(#{tjsj2},"%Y-%m-%d")>=STR_TO_DATE(hzb.TJSJ,"%Y-%m-%d")
AND hzb.SFHZ=#{hzzt}

GROUP BY bip.bip_id
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zj_dwzpdjb
    where ZPBH = #{zpbh,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.labor.po.ZjDwzpdjbExample">
    delete from zj_dwzpdjb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.labor.po.ZjDwzpdjb">
    insert into zj_dwzpdjb (ZPBH, DWBH, DWLXR, 
      LXRSFZHM, LXRSJ, SFDJ, 
      DJYXQ, DJSJ, GDSJ)
    values (#{zpbh,jdbcType=VARCHAR}, #{dwbh,jdbcType=VARCHAR}, #{dwlxr,jdbcType=VARCHAR}, 
      #{lxrsfzhm,jdbcType=VARCHAR}, #{lxrsj,jdbcType=VARCHAR}, #{sfdj,jdbcType=VARCHAR}, 
      #{djyxq,jdbcType=INTEGER}, #{djsj,jdbcType=VARCHAR}, #{gdsj,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.labor.po.ZjDwzpdjb">
    insert into zj_dwzpdjb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zpbh != null">
        ZPBH,
      </if>
      <if test="dwbh != null">
        DWBH,
      </if>
      <if test="dwlxr != null">
        DWLXR,
      </if>
      <if test="lxrsfzhm != null">
        LXRSFZHM,
      </if>
      <if test="lxrsj != null">
        LXRSJ,
      </if>
      <if test="sfdj != null">
        SFDJ,
      </if>
      <if test="djyxq != null">
        DJYXQ,
      </if>
      <if test="djsj != null">
        DJSJ,
      </if>
      <if test="gdsj != null">
        GDSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zpbh != null">
        #{zpbh,jdbcType=VARCHAR},
      </if>
      <if test="dwbh != null">
        #{dwbh,jdbcType=VARCHAR},
      </if>
      <if test="dwlxr != null">
        #{dwlxr,jdbcType=VARCHAR},
      </if>
      <if test="lxrsfzhm != null">
        #{lxrsfzhm,jdbcType=VARCHAR},
      </if>
      <if test="lxrsj != null">
        #{lxrsj,jdbcType=VARCHAR},
      </if>
      <if test="sfdj != null">
        #{sfdj,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null">
        #{djyxq,jdbcType=INTEGER},
      </if>
      <if test="djsj != null">
        #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null">
        #{gdsj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.labor.po.ZjDwzpdjbExample" resultType="java.lang.Long">
    select count(*) from zj_dwzpdjb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zj_dwzpdjb
    <set>
      <if test="record.zpbh != null">
        ZPBH = #{record.zpbh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwbh != null">
        DWBH = #{record.dwbh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwlxr != null">
        DWLXR = #{record.dwlxr,jdbcType=VARCHAR},
      </if>
      <if test="record.lxrsfzhm != null">
        LXRSFZHM = #{record.lxrsfzhm,jdbcType=VARCHAR},
      </if>
      <if test="record.lxrsj != null">
        LXRSJ = #{record.lxrsj,jdbcType=VARCHAR},
      </if>
      <if test="record.sfdj != null">
        SFDJ = #{record.sfdj,jdbcType=VARCHAR},
      </if>
      <if test="record.djyxq != null">
        DJYXQ = #{record.djyxq,jdbcType=INTEGER},
      </if>
      <if test="record.djsj != null">
        DJSJ = #{record.djsj,jdbcType=VARCHAR},
      </if>
      <if test="record.gdsj != null">
        GDSJ = #{record.gdsj,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zj_dwzpdjb
    set ZPBH = #{record.zpbh,jdbcType=VARCHAR},
      DWBH = #{record.dwbh,jdbcType=VARCHAR},
      DWLXR = #{record.dwlxr,jdbcType=VARCHAR},
      LXRSFZHM = #{record.lxrsfzhm,jdbcType=VARCHAR},
      LXRSJ = #{record.lxrsj,jdbcType=VARCHAR},
      SFDJ = #{record.sfdj,jdbcType=VARCHAR},
      DJYXQ = #{record.djyxq,jdbcType=INTEGER},
      DJSJ = #{record.djsj,jdbcType=VARCHAR},
      GDSJ = #{record.gdsj,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.labor.po.ZjDwzpdjb">
    update zj_dwzpdjb
    <set>
      <if test="dwbh != null">
        DWBH = #{dwbh,jdbcType=VARCHAR},
      </if>
      <if test="dwlxr != null">
        DWLXR = #{dwlxr,jdbcType=VARCHAR},
      </if>
      <if test="lxrsfzhm != null">
        LXRSFZHM = #{lxrsfzhm,jdbcType=VARCHAR},
      </if>
      <if test="lxrsj != null">
        LXRSJ = #{lxrsj,jdbcType=VARCHAR},
      </if>
      <if test="sfdj != null">
        SFDJ = #{sfdj,jdbcType=VARCHAR},
      </if>
      <if test="djyxq != null">
        DJYXQ = #{djyxq,jdbcType=INTEGER},
      </if>
      <if test="djsj != null">
        DJSJ = #{djsj,jdbcType=VARCHAR},
      </if>
      <if test="gdsj != null">
        GDSJ = #{gdsj,jdbcType=VARCHAR},
      </if>
    </set>
    where ZPBH = #{zpbh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.labor.po.ZjDwzpdjb">
    update zj_dwzpdjb
    set DWBH = #{dwbh,jdbcType=VARCHAR},
      DWLXR = #{dwlxr,jdbcType=VARCHAR},
      LXRSFZHM = #{lxrsfzhm,jdbcType=VARCHAR},
      LXRSJ = #{lxrsj,jdbcType=VARCHAR},
      SFDJ = #{sfdj,jdbcType=VARCHAR},
      DJYXQ = #{djyxq,jdbcType=INTEGER},
      DJSJ = #{djsj,jdbcType=VARCHAR},
      GDSJ = #{gdsj,jdbcType=VARCHAR}
    where ZPBH = #{zpbh,jdbcType=VARCHAR}
  </update>
</mapper>